# For PCBs designed using Altium: https://www.altium.com/

# Thumbnail files
**/__Previews/

# Backup archives
**/History/

# Generated output files
Project\ Outputs*/
Project\ Logs*/

# Various Altium files
*.~
*.tmp
*.PrjPCBStructure
*.SchDocPreview
*.PcbDocPreview
*.PrjPcbStructure
*.Dat
*.REP 
*.TLT
*.LOG
*.log
*.htm
*.$$$
Status\ Report.txt

#Python stuff
scripts/__pycache__/
*.bak
*.dwl
*.dwl2